html {
  padding-left: calc(100vw - 100%);
}

body {
    color: $text-black;
    background-color: $site-background;
}

strong {
    color: $text-black;    
}

.badge {
    font-weight: $font-weight-normal;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

