
.publications {
  h2 {
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: $secondary;
    border-top: 1px solid $secondary;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
            display: inline-block;
	    color: $primary;
	    border: solid 1px $primary;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 0.1rem;
            margin-right: 0.1rem;
            a {
		&:hover {
		    text-decoration: none;
		}
            }
        }
        .award {
          color: $primary !important;
          border: 1px solid $primary;
        }
      }
      .title {
        font-weight: bolder;
      }
      .links {
          a.btn {
	      text-transform: uppercase;
              color: $text-black;
              border: 1px solid $text-black;
              padding-left: 1rem;
              padding-right: 1rem;
              padding-top: 0.1rem;
              padding-bottom: 0.1rem;
              &:hover {
		  color: $primary;
		  border-color: $primary;
              }
          }
      }
      .btn-disabled {
          color: $text-black;
          border: 1px solid $text-black;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.1rem;
          padding-bottom: 0.1rem;	  
	  opacity: 1.0;
	  text-decoration: none;
	  pointer-events: none;
	  cursor: default;
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      div.abstract.hidden {
        border: dashed 1px rgba(0, 0, 0, 0);
      }
      div.abstract.hidden.open {
        border-color: $secondary;
      }
    }
  }
}

.talk {
    color: $primary;
    border: solid 1px $primary;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(-10%);
    &:hover {
	color: $primary;	
        text-decoration: none;
    }    
}
