$primary:   #007bff;
//$primary: #d81b60;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

$text-black: #343a40;
$text-white: rgba(white, .9);
$text-black-muted: rgba(0, 0, 0, 0.57);

$rounded-borders: 15px;

//$site-background: #acedc3;
//$site-background: #a9def2;
$site-background: #ffffff;


// Font weights
$normal-weight: 300;
$bold-weight: 600;
$font-size: 1.1rem;
